[package]
name = "script_lua"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"

[lib]
path = "src/lib.rs"

[dependencies]
mlua = { version = "0.11.5", features = ["lua54", "vendored"] }
